body {
    font-family: 'Comfortaa', cursive;
    background: #37d3be;
    margin:0px;
}

#h1-header{
    text-align: center;
    margin:0px;
    background: rgb(5, 85, 204);
    padding: 10px;
}

#title-pistols{
    text-align: center;
    margin:0px;
    background: rgb(5, 85, 204);
    padding: 10px
}
#Pistols-welcome{
    padding: 10px;
    margin: 0px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(35, 108, 150);
}

#pistols-links{
    margin:0px;
    padding: 5px;
    background-color: rgb(35, 108, 150);
    margin-bottom: 375px;
    justify-content: center;
    text-align: center;
}

.pistols-nav{
    color: black;
    margin-right: 5px;
    margin-left:5px;
    text-decoration: none;
}

img{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-box{
    justify-content: center;
    display: flex;
    margin:0px;
    background:rgb(5, 69, 167);  
    padding: 35px;
}

.nav-link {
    margin-left:50px;
    margin-right:50px;
    padding: 20px;
    color: black;
    text-decoration: none;  
}

.text-box {
    text-align: center;
    background: rgb(5, 85, 204);
    border-radius: 15px;
    padding: 5px;
    margin :10px;
    font-size: 20px;
    
}

.pistol-box{
    width: 800px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    justify-content: center;
    background: rgb(29, 23, 80);
    margin-bottom: 50px;
}
.info-box-pistols{
    width: 250px;
}
.info-stat-pistols{
    margin: 0px;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    width: 400px;
    background: #009480;
    float: right;
}

.pistols-nav a:hover{
    transform: scale(1.2);
    transition-duration: 500ms;
    background: #37d3be;
}